/* this file contien the scroll animation with css
 */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-85%);
    }
}

@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 5s linear infinite;
}

.animate-scroll-vertical {
    animation: scroll-vertical 20s linear infinite;
}

.animate-scroll-horizontal {
    animation: scroll-horizontal 20s linear infinite;
  
}