@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Grand-Regular';
  src: url('/fonts/NTF-Grand-Regular.otf') format('opentype'),
    url('/fonts/NTF-Grand-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chunko';
  src: url('/fonts/Chunko Bold Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eae7d4;

}

h1 {
  margin-top: 1rem;
}

.bgColor {
  background-color: #2a3037;
}


.chunko-bold {
  font-family: "Chunko", sans-serif;
  font-weight: 990;
  font-style: normal;
}

.chunko {
  font-family: "Chunko", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: #eae7d4;

}


.slogan h1{
   font-family: "Chunko", sans-serif;
  font-weight: 990;
  font-style: normal;
  letter-spacing: .5rem;

}

.informations h6 {
  color: #eae7d4;
  font-family: 'Grand-Regular', sans-serif;
  letter-spacing: .05rem;

}

.hit{
  font-family: 'Chunko', sans-serif;
  letter-spacing: 1rem;
  font-weight: 900;
  
}



@keyframes squeeze {

  0%,
  100% {
    transform: scale(1);
    color: #eae7d4;
  }

  50% {
    transform: scale(0.5);
    color: red;
  }

  75% {
    transform: scale(0.8);
    color: red;
  }
}

.squizingLetter {
  display: inline-block;
}

li:hover .squizingLetter {
  animation: squeeze 0.2s ease-in-out forwards;
}

.squizingLetter:hover h2 {
  animation: squeeze 0.4s ease-in-out backwards;
}

/* VideoCards Component Styles */

.hideScrollBare::-webkit-scrollbar {
  display: none;
}



/* styling for Informations.tsx componente */

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.imageRotation {
  animation: rotation 20s infinite linear;
}


/* Styling for ImagesPoster.tsx */

.hideScrollBare {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hideScrollBare::-webkit-scrollbar {
  display: none;
}


.hitUs{
  background-color: #eae7d4;
}


.imagesContainer{
  color: #eae7d4;
}