@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Grand-Regular';
  src: url('/fonts/NTF-Grand-Regular.otf') format('opentype'),
    url('/fonts/NTF-Grand-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eae7d4;

}

h1 {
  margin-top: 1rem;
}

.bgColor {
  background-color: #2a3037;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/fonts/NTF-Grand-Regular.otf') format('woff2'),
    url('../public/fonts/NTF-Grand-Italic.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}


.luckiest-guy-bold {
  font-family: "Luckiest Guy", cursive;
  font-weight: 990;
  font-style: normal;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  font-style: normal;
}

p {
  color: #eae7d4;

}

h6 {
  color: #eae7d4;
  font-family: 'Grand-Regular', sans-serif;
  letter-spacing: .05rem;

}



@keyframes squeeze {

  0%,
  100% {
    transform: scale(1);
    color: #eae7d4;
  }

  50% {
    transform: scale(0.5);
    color: red;
  }

  75% {
    transform: scale(0.8);
    color: red;
  }
}

.squizingLetter {
  display: inline-block;
}

li:hover .squizingLetter {
  animation: squeeze 0.2s ease-in-out forwards;
}

.squizingLetter:hover {
  animation: squeeze 0.4s ease-in-out forwards;
}

/* VideoCards Component Styles */

.hideScrollBare::-webkit-scrollbar {
  display: none;
}



/* styling for Informations.tsx componente */

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.imageRotation {
  animation: rotation 20s infinite linear;
}


/* Styling for ImagesPoster.tsx */

.hideScrollBare {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hideScrollBare::-webkit-scrollbar {
  display: none;
}